/*FONTS*/
/*Montserrat*/
/*thin100*/
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap";
/*extraLight200*/
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap";
/*light300*/
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap";
/*regular400*/
@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";
/*semibold600*/
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap";
/*GENERAL*/
body {
  background: linear-gradient(to bottom, white 30%, grey 70%);
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center; }

h1 {
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: black; }

h2 {
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
  color: black; }

header {
  box-shadow: 10px 10px 15px black; }

.headerIndex {
  box-shadow: none; }

.row_footer_hola {
  font-style: italic;
  background-color: lightgray; }
  .row_footer_hola .hola {
    position: relative;
    top: 10px; }

.row_footer_redesSociales {
  background-color: lightgray; }
  .row_footer_redesSociales .redesSociales {
    position: relative;
    top: 11px; }

.row_footer_data {
  font-style: italic;
  background-color: lightgray; }
  .row_footer_data .data {
    position: relative;
    top: 10px; }

/*VENDORS*/
/*BASE*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth; }

/*ABSTRACTS*/
.boton, .boton-clasico, .boton-alerta, .boton-nuevo {
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
  cursor: pointer; }

/*LAYOUT*/
.navbar {
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: space-around; }

.navbar1 {
  list-style: none;
  padding: 20px;
  align-items: center; }

.nav-item {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 20px; }

.navBar1TiendaMenu {
  position: absolute;
  display: none; }

.nav-item {
  display: block; }

.nav-item:hover {
  color: black;
  filter: blur(1.2px);
  font-weight: 400; }

/*COMPONENTES*/
.boton-clasico {
  background-color: blue; }

.boton-alerta {
  background-color: red;
  color: white;
  font-size: 20px; }

.boton-nuevo {
  background-color: green;
  color: white;
  font-size: 20px; }

/*PAGES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedorPadre {
  background-color: #808080 !important;
  margin: auto;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr auto;
  grid-template-areas: "section0 section0 section0 section0" "section1 section1 section1 section1" "section2 section2 section2 section2" "section3 section3 section3 section3" "section4 section4 section4 section4"; }

/*headerIndex*/
.headerIndexNavBarLogo {
  width: 60px; }

/*indexMain = section0*/
.indexMain {
  width: 100%;
  background-color: lightgrey;
  box-shadow: 0px 10px 10px black;
  grid-area: section0; }

.indexMain1Portada img {
  vertical-align: top;
  width: 100%; }

/*indexLanza = section1*/
.indexLanza {
  background-color: lightgrey;
  box-shadow: 0px 10px 10px black;
  padding: 2rem;
  grid-area: section1; }

.indexLanza0Txt {
  font-weight: 600;
  text-align: center;
  margin: 3rem;
  margin-bottom: 5rem;
  font-size: 25px;
  filter: blur(2px); }

/*indexLanza1*/
.indexLanza1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin-bottom: 3rem; }

.indexLanza1Ep1 {
  display: inline; }

.indexLanza1Ep1Img img {
  color: black;
  padding: 2rem;
  width: 550px;
  height: 550px;
  background-size: contain;
  background-repeat: no-repeat; }

.indexLanza1Ep1Ref {
  padding: 1rem;
  text-align: center;
  font-weight: 200; }

.indexLanza1Ep1RefSp {
  width: 150px; }

/*indexLanza2*/
.indexLanza1Ep2 {
  display: inline; }

.indexLanza1Ep2Img img {
  color: black;
  padding: 2rem;
  width: 550px;
  height: 550px;
  background-size: contain;
  background-repeat: no-repeat; }

.indexLanza1Ep2Ref {
  padding: 1rem;
  text-align: center;
  font-weight: 200; }

.indexLanza1Ep2RefSp {
  width: 150px; }

/*indexLanza3*/
.indexLanza1Ep3 {
  display: inline; }

.indexLanza1Ep3Img img {
  color: black;
  padding: 2rem;
  width: 550px;
  height: 550px;
  background-size: contain;
  background-repeat: no-repeat; }

.indexLanza1Ep3Ref {
  padding: 1rem;
  text-align: center;
  font-weight: 200; }

.indexLanza1Ep3RefSp {
  width: 150px; }

/*indexStream = section2*/
.indexStream {
  background-color: lightgrey;
  box-shadow: 0px 10px 10px black;
  padding: 2rem;
  grid-area: section2; }

.indexStream0Txt {
  font-weight: 600;
  text-align: center;
  margin: 3rem;
  margin-bottom: 3rem;
  filter: blur(2px); }

/*indexStream1*/
.indexStream1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 5rem; }

.indexStream1Vid1 {
  display: inline; }

.indexStream1Vid1Iframe {
  color: black;
  padding: 2rem; }

.indexStream1Vid1Iframe1 {
  color: black;
  width: 780px;
  height: 500px; }

/*indexStream2*/
.indexStream1Vid2 {
  display: inline; }

.indexStream1Vid2Iframe {
  color: black;
  padding: 2rem; }

.indexStream1Vid1Iframe2 {
  color: black;
  width: 780px;
  height: 500px; }

/*indexPodcast = section3*/
.indexPodcast {
  background-color: lightgrey;
  box-shadow: 0px 10px 10px black;
  padding: 2rem;
  grid-area: section3; }

.indexPodcast0Txt {
  text-align: center;
  margin: 3rem;
  margin-bottom: 4rem;
  font-weight: 600;
  filter: blur(2px); }

/*indexPodcast1*/
.indexPodcast1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 4rem; }

.indexPodcast1Pod1 {
  flex-direction: column;
  flex-wrap: wrap; }

.indexPodcast1Pod1Iframe {
  color: black;
  padding: 1rem; }

.indexPodcast1Pod2Iframe1 {
  width: 1620px;
  height: 166px; }

/*indexPodcast2*/
.indexPodcast1Pod2 {
  flex-direction: column;
  flex-wrap: wrap; }

.indexPodcast1Pod2Iframe {
  color: black;
  padding: 1rem; }

.indexPodcast1Pod2Iframe2 {
  width: 1620px;
  height: 166px; }

/*indexPodcast3*/
.indexPodcast1Pod3 {
  flex-direction: column;
  flex-wrap: wrap; }

.indexPodcast1Pod3Iframe {
  color: black;
  padding: 1rem; }

.indexPodcast1Pod2Iframe3 {
  width: 1620px;
  height: 166px; }

/*indexFooter = section4*/
.indexFooter {
  background-color: lightgrey;
  box-shadow: 0px 10px 10px black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  padding: 2rem;
  grid-area: section4; }

.indexFooter0Txt {
  font-weight: 400;
  text-align: center;
  margin: 3rem;
  font-style: italic;
  font-size: 16px; }

.indexFooter1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-around; }

.indexFooter1RedesSocialesIg {
  width: 100px; }

.indexFooter1RedesSocialesSp {
  width: 100px; }

.indexFooter1RedesSocialesYt {
  width: 100px; }

.indexFooter1RedesSocialesSc {
  width: 100px; }

.indexFooter2Txt {
  font-weight: 400;
  text-align: center;
  margin: 3rem;
  font-style: italic;
  font-size: 16px; }

/*mediaQuerryMobile*/
@media only screen and (max-width: 450px) {
  .contenedorPadre {
    background-color: #808080 !important;
    margin: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
    grid-template-areas: "section0 section0 section0 section0" "section1 section1 section1 section1" "section1 section1 section1 section1" "section2 section2 section2 section2" "section2 section2 section2 section2" "section3 section3 section3 section3" "section4 section4 section4 section4"; }
  /*headerIndex*/
  .headerIndexNavBarLogo {
    width: 50px;
    position: relative;
    right: 50px; }
  .navbar-toggler {
    position: relative;
    left: 45px; }
  .navbar1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center; }
  .nav-item1 {
    text-align: center;
    font-size: 20px; }
  /*indexMain = section0*/
  .indexMain {
    width: 100%;
    background-color: lightgrey;
    box-shadow: 0px 10px 10px black;
    grid-area: section0; }
  .indexMain1Portada img {
    width: 100%;
    height: 180px; }
  /*indexLanza = section1*/
  .indexLanza {
    background-color: lightgrey;
    box-shadow: 0px 10px 10px black;
    padding: 2rem;
    height: 1400px;
    grid-area: section1; }
  .indexLanza0Txt {
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    filter: blur(2px);
    position: relative;
    bottom: 20px;
    right: 30px; }
  /*indexLanza1*/
  .indexLanza1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly; }
  .indexLanza1Ep1 {
    position: relative;
    top: 30px; }
  .indexLanza1Ep1Img img {
    color: black;
    width: 350px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    bottom: 100px; }
  .indexLanza1Ep1Ref {
    padding: 1rem;
    text-align: center;
    font-weight: 150; }
  .indexLanza1Ep1RefSp {
    width: 80px;
    position: relative;
    bottom: 140px; }
  /*indexLanza2*/
  .indexLanza1Ep2 {
    position: relative;
    bottom: 120px; }
  .indexLanza1Ep2Img img {
    color: black;
    width: 350px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat; }
  .indexLanza1Ep2Ref {
    padding: 1rem;
    text-align: center;
    font-weight: 200; }
  .indexLanza1Ep2RefSp {
    width: 80px;
    position: relative;
    bottom: 40px; }
  /*indexLanza3*/
  .indexLanza1Ep3 {
    position: relative;
    bottom: 170px; }
  .indexLanza1Ep3Img img {
    color: black;
    width: 350px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat; }
  .indexLanza1Ep3Ref {
    padding: 1rem;
    text-align: center;
    font-weight: 200; }
  .indexLanza1Ep3RefSp {
    width: 80px;
    position: relative;
    bottom: 30px; }
  /*indexStream = section2*/
  .indexStream {
    background-color: lightgrey;
    box-shadow: 0px 10px 10px black;
    padding: 2rem;
    height: 935px;
    grid-area: section2; }
  .indexStream0Txt {
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    filter: blur(2px); }
  /*indexStream1*/
  .indexStream1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 5rem; }
  .indexStream1Vid1 {
    display: inline; }
  .indexStream1Vid1Iframe {
    color: black;
    padding: 2rem; }
  .indexStream1Vid1Iframe1 {
    color: black;
    width: 300px;
    height: 300px; }
  /*indexStream2*/
  .indexStream1Vid2 {
    display: inline; }
  .indexStream1Vid2Iframe {
    color: black;
    padding: 2rem; }
  .indexStream1Vid1Iframe2 {
    color: black;
    width: 300px;
    height: 300px; }
  /*indexPodcast = section3*/
  .indexPodcast {
    background-color: lightgrey;
    box-shadow: 0px 10px 10px black;
    padding: 2rem;
    height: 870px;
    grid-area: section3; }
  .indexPodcast0Txt {
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    filter: blur(2px); }
  /*indexPodcast1*/
  .indexPodcast1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 4rem; }
  .indexPodcast1Pod1 {
    flex-direction: column;
    flex-wrap: wrap; }
  .indexPodcast1Pod1Iframe {
    color: black;
    padding: 1rem; }
  .indexPodcast1Pod2Iframe1 {
    width: 300px;
    height: 166px; }
  /*indexPodcast2*/
  .indexPodcast1Pod2 {
    flex-direction: column;
    flex-wrap: wrap; }
  .indexPodcast1Pod2Iframe {
    color: black;
    padding: 1rem; }
  .indexPodcast1Pod2Iframe2 {
    width: 300px;
    height: 166px; }
  /*indexPodcast3*/
  .indexPodcast1Pod3 {
    flex-direction: column;
    flex-wrap: wrap; }
  .indexPodcast1Pod3Iframe {
    color: black;
    padding: 1rem; }
  .indexPodcast1Pod2Iframe3 {
    width: 300px;
    height: 166px; } }

/*indexFooter = section4*/
.indexFooter {
  background-color: lightgrey;
  box-shadow: 0px 10px 10px black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: auto;
  grid-area: section4;
  height: 300px; }

.indexFooter0Txt {
  font-weight: 400;
  text-align: center;
  margin: 3rem;
  font-style: italic;
  font-size: 12px; }

.indexFooter1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-around; }

.indexFooter1RedesSocialesIg {
  width: 50px; }

.indexFooter1RedesSocialesSp {
  width: 50px; }

.indexFooter1RedesSocialesYt {
  width: 50px; }

.indexFooter1RedesSocialesSc {
  width: 50px; }

.indexFooter2Txt {
  font-weight: 400;
  text-align: center;
  margin: 3rem;
  font-style: italic;
  font-size: 12px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.row_artistas_artista1 {
  background-color: lightgray; }

.row_artistas_artista2 {
  background-color: lightgray; }

.row_artistas_artista3 {
  background-color: lightgray; }

.row_artistas_artista4 {
  background-color: lightgray; }

.row_artistas_artista5 {
  background-color: lightgray; }

.row_artistas_artista6 {
  background-color: lightgray; }

.row_artistas_artista7 {
  background-color: lightgray; }

.row_artistas_artista8 {
  background-color: lightgray; }

.row_artistas_artista9 {
  background-color: lightgray; }

.row_artistas_artista10 {
  background-color: lightgray; }

.row_artistas_artista11 {
  background-color: lightgray; }

.row_artistas_artista12 {
  background-color: lightgray; }

.row_artistas_artista13 {
  background-color: lightgray; }

.row_artistas_artista14 {
  background-color: lightgray; }

.row_artistas_artista15 {
  background-color: lightgray; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.row_lanzamientos_lanzamiento1_texto h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 5px; }

.row_lanzamientos_lanzamiento1_info1 {
  background: linear-gradient(to left, white, grey); }
  .row_lanzamientos_lanzamiento1_info1 ul {
    text-align: center; }
  .row_lanzamientos_lanzamiento1_info1 li {
    list-style-type: none;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 5px; }

.row_lanzamientos_lanzamiento1_info2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .row_lanzamientos_lanzamiento1_info2 a {
    text-align: center;
    align-items: center;
    align-content: center; }

.row_lanzamientos_lanzamiento1_info3 {
  background: linear-gradient(to right, white, grey); }
  .row_lanzamientos_lanzamiento1_info3 ul {
    text-align: center; }
  .row_lanzamientos_lanzamiento1_info3 li {
    list-style-type: none;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 5px; }

.row_lanzamientos_lanzamiento2_texto h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 5px; }

.row_lanzamientos_lanzamiento2_info1 {
  background: linear-gradient(to left, white, grey); }
  .row_lanzamientos_lanzamiento2_info1 ul {
    text-align: center; }
  .row_lanzamientos_lanzamiento2_info1 li {
    list-style-type: none;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px; }

.row_lanzamientos_lanzamiento2_info2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .row_lanzamientos_lanzamiento2_info2 a {
    text-align: center;
    align-items: center;
    align-content: center; }

.row_lanzamientos_lanzamiento2_info3 {
  background: linear-gradient(to right, white, grey); }
  .row_lanzamientos_lanzamiento2_info3 ul {
    text-align: center; }
  .row_lanzamientos_lanzamiento2_info3 li {
    list-style-type: none;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px; }

.row_lanzamientos_lanzamiento3_texto h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 5px; }

.row_lanzamientos_lanzamiento3_info1 {
  background: linear-gradient(to left, white, grey); }
  .row_lanzamientos_lanzamiento3_info1 ul {
    text-align: center; }
  .row_lanzamientos_lanzamiento3_info1 li {
    list-style-type: none;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    position: relative;
    top: 60px; }

.row_lanzamientos_lanzamiento3_info2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .row_lanzamientos_lanzamiento3_info2 a {
    text-align: center;
    align-items: center;
    align-content: center; }

.row_lanzamientos_lanzamiento3_info3 {
  background: linear-gradient(to right, white, grey); }
  .row_lanzamientos_lanzamiento3_info3 ul {
    text-align: center; }
  .row_lanzamientos_lanzamiento3_info3 li {
    list-style-type: none;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    position: relative;
    top: 60px; }

.row_lanzamientos_lanzamiento4_texto h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 5px; }

.row_lanzamientos_lanzamiento4_info1 {
  background: linear-gradient(to left, white, grey); }
  .row_lanzamientos_lanzamiento4_info1 ul {
    text-align: center; }
  .row_lanzamientos_lanzamiento4_info1 li {
    list-style-type: none;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px; }

.row_lanzamientos_lanzamiento4_info2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .row_lanzamientos_lanzamiento4_info2 a {
    text-align: center;
    align-items: center;
    align-content: center; }

.row_lanzamientos_lanzamiento4_info3 {
  background: linear-gradient(to right, white, grey); }
  .row_lanzamientos_lanzamiento4_info3 ul {
    text-align: center; }
  .row_lanzamientos_lanzamiento4_info3 li {
    list-style-type: none;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px; }

.row_lanzamientos_lanzamiento5_texto h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 5px; }

.row_lanzamientos_lanzamiento5_info1 {
  background: linear-gradient(to left, white, grey); }
  .row_lanzamientos_lanzamiento5_info1 ul {
    text-align: center; }
  .row_lanzamientos_lanzamiento5_info1 li {
    list-style-type: none;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px; }

.row_lanzamientos_lanzamiento5_info2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .row_lanzamientos_lanzamiento5_info2 a {
    text-align: center;
    align-items: center;
    align-content: center;
    position: relative;
    top: 85px; }

.row_lanzamientos_lanzamiento5_info3 {
  background: linear-gradient(to right, white, grey); }
  .row_lanzamientos_lanzamiento5_info3 ul {
    text-align: center; }
  .row_lanzamientos_lanzamiento5_info3 li {
    list-style-type: none;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px; }

.row_lanzamientos_lanzamiento6_texto h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 5px; }

.row_lanzamientos_lanzamiento6_info1 {
  background: linear-gradient(to left, white, grey); }
  .row_lanzamientos_lanzamiento6_info1 ul {
    text-align: center; }
  .row_lanzamientos_lanzamiento6_info1 li {
    list-style-type: none;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px; }

.row_lanzamientos_lanzamiento6_info2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .row_lanzamientos_lanzamiento6_info2 a {
    text-align: center;
    align-items: center;
    align-content: center;
    position: relative;
    top: 25px; }

.row_lanzamientos_lanzamiento6_info3 {
  background: linear-gradient(to right, white, grey); }
  .row_lanzamientos_lanzamiento6_info3 ul {
    text-align: center; }
  .row_lanzamientos_lanzamiento6_info3 li {
    list-style-type: none;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.row_nexo_nexo1_img1 {
  background-color: grey; }
  .row_nexo_nexo1_img1 .nexo1A {
    justify-content: center;
    position: relative;
    top: 100px; }

.row_nexo_nexo1_vid2 {
  background-color: grey;
  height: 545px; }
  .row_nexo_nexo1_vid2 .nexo1B {
    justify-content: center; }

.row_nexo_nexo1_img3 {
  background-color: grey; }
  .row_nexo_nexo1_img3 .nexo1C {
    justify-content: center;
    position: relative;
    top: 100px; }

.row_nexo_nexo1_info1 {
  background: linear-gradient(to left, white, grey); }
  .row_nexo_nexo1_info1 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px;
    text-align: justify; }

.row_nexo_nexo1_info2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center; }

.row_nexo_nexo1_info3 {
  background: linear-gradient(to right, white, grey); }
  .row_nexo_nexo1_info3 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px;
    text-align: justify; }

.row_nexo_nexo2_img1 {
  background-color: grey; }
  .row_nexo_nexo2_img1 .nexo2A {
    justify-content: center;
    position: relative;
    top: 45px; }

.row_nexo_nexo2_vid2 {
  background-color: grey;
  height: 435px; }
  .row_nexo_nexo2_vid2 .nexo2B {
    justify-content: center; }

.row_nexo_nexo2_img3 {
  background-color: grey; }
  .row_nexo_nexo2_img3 .nexo2C {
    justify-content: center;
    position: relative;
    top: 45px; }

.row_nexo_nexo2_info1 {
  background: linear-gradient(to left, white, grey); }
  .row_nexo_nexo2_info1 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px;
    text-align: justify; }

.row_nexo_nexo2_info2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center; }

.row_nexo_nexo2_info3 {
  background: linear-gradient(to right, white, grey); }
  .row_nexo_nexo2_info3 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px;
    text-align: justify; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.row_tienda_coleccion {
  background-color: lightgray; }

.row_tienda_modelo1_texto {
  background-color: lightgray; }

.row_tienda_modelo1_img {
  background-color: lightgray; }

.row_tienda_modelo1_tabla {
  background-color: lightgray; }

.row_tienda_modelo2_texto {
  background-color: lightgray; }

.row_tienda_modelo2_img {
  background-color: lightgray; }

.row_tienda_modelo2_tabla {
  background-color: lightgray; }

.row_tienda_preguntasFrecuentes {
  background-color: lightgray; }

.row_tienda_formulario1_data1 {
  padding: 8px; }

.row_tienda_formulario1_data2 {
  padding: 8px; }

.row_tienda_formulario1_data3 {
  padding: 8px; }

.row_tienda_formulario1_data4 {
  padding: 8px; }

.row_tienda_formulario1_data5 {
  padding: 8px; }

.row_tienda_formulario1_data6 {
  padding: 8px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.row_contacto_somos .somos {
  text-align: left; }

.row_contacto_sqtexto .texto {
  text-align: justify;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  line-height: 1.6; }

.row_contacto_nosotros .nosotros {
  text-align: left; }

.row_contacto_nosotros_texto1 {
  text-align: left; }
  .row_contacto_nosotros_texto1 .nosotros1 {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200; }

.row_contacto_nosotros_texto2 {
  text-align: left; }
  .row_contacto_nosotros_texto2 .nosotros2 {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200; }

.row_contacto_nosotros_texto3 {
  text-align: left; }
  .row_contacto_nosotros_texto3 .nosotros3 {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200; }

.row_contacto_nosotros_texto4 {
  text-align: left; }
  .row_contacto_nosotros_texto4 .nosotros4 {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200; }

.row_contacto_ustedes .ustedes {
  text-align: left; }

.row_contacto_ustedes_formulario .row_contacto_ustedes_formulario1 {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center; }

h1 {
  letter-spacing: 10px; }

h3 {
  letter-spacing: 5px; }

h4 {
  letter-spacing: 2px; }

.row_contacto_ustedes_formulario1_data1 {
  padding: 8px; }

.row_contacto_ustedes_formulario1_data2 {
  padding: 8px; }

.row_contacto_ustedes_formulario1_data3 {
  padding: 8px; }

.row_contacto_ustedes_formulario1_data4 {
  padding: 8px; }

.row_contacto_ustedes_formulario1_data5 {
  padding: 8px; }

.row_contacto_ustedes_formulario1_data6 {
  padding: 8px; }

.row_contacto_ustedes_formulario1_data7 {
  padding: 8px; }

.row_contacto_ustedes_formulario1_data8 {
  padding: 8px; }

.row_contacto_ustedes_formulario1_data9 {
  padding: 8px; }

.row_contacto_ustedes_formulario1_data10 {
  padding: 8px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.login {
  background: linear-gradient(to right, white, grey); }

.btn_login, .btn_signin {
  height: 70px;
  width: 100px; }

.btn_login, .btn_signin {
  width: 100px;
  display: inline-block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 5px 0;
  margin: 2px auto;
  border-radius: 8%;
  color: blue; }

.btn_signin {
  color: red; }

.cardlogin {
  width: 500px;
  height: 500px;
  border-radius: 10%;
  background-color: lightblue; }
  .cardlogin--1 {
    border: 10px solid blue; }
  .cardlogin--2 {
    border: 10px solid red; }
  .cardlogin--3 {
    border: 10px solid green; }

.cardlogin3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
