.row_nexo_nexo1_img1 {
    background-color: grey;

    .nexo1A {
        justify-content: center;
        position: relative;
        top: 45px;
    }
}

.row_nexo_nexo1_img2 {
    background-color: grey;

    .nexo1B {
        justify-content: center;
    }
}

.row_nexo_nexo1_img3 {
    background-color: grey;

    .nexo1C {
        justify-content: center;
        position: relative;
        top: 45px;
    }
}

.row_nexo_nexo1_info1 {
    background: linear-gradient(to left, white, grey);

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        margin: 10px;
        text-align: justify;
    }
}

.row_nexo_nexo1_info2 {
    background-color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.row_nexo_nexo1_info3 {
    background: linear-gradient(to right, white, grey);

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        margin: 10px;
        text-align: justify;
    }
}

.row_nexo_nexo2_img1 {
    background-color: grey;

    .nexo2A {
        justify-content: center;
        position: relative;
        top: 45px;
    }
}

.row_nexo_nexo2_img2 {
    background-color: grey;

    .nexo2B {
        justify-content: center;
    }
}

.row_nexo_nexo2_img3 {
    background-color: grey;

    .nexo2C {
        justify-content: center;
        position: relative;
        top: 45px;
    }
}

.row_nexo_nexo2_info1 {
    background: linear-gradient(to left, white, grey);

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        margin: 10px;
        text-align: justify;
    }
}

.row_nexo_nexo2_info2 {
    background-color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.row_nexo_nexo2_info3 {
    background: linear-gradient(to right, white, grey);

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        margin: 10px;
        text-align: justify;
    }
}