
.row_footer_hola {
    font-style: italic;
    background-color: lightgray;
    .hola{
        position: relative;
        top: 10px;
    }
}

.row_footer_redesSociales {
    background-color: lightgray;
    .redesSociales{
        position: relative;
        top: 11px;
    }
}

.row_footer_data {
    font-style: italic;
    background-color: lightgray;
    .data{
        position: relative;
        top: 10px;
    }
}
