body {
    background: linear-gradient(to bottom, white 30%, grey 70%);
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
}

h1 {
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: black;
}

h2 {
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
