.row_index_sq {
    background-color: lightgray;
}

.row_index_lanzamiento1 {
    background-color: lightgray;
}

.row_index_lanzamiento2 {
    background-color: lightgray;
}

.row_index_eventos1 {
    background-color: lightgray;
}

.row_index_eventos2 {
    background-color: lightgray;
}

.row_index_tienda_m1 {
    background-color: lightgray;
}

.row_index_tienda_m2 {
    background-color: lightgray;
}
