* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row_artistas_artista1 {
    background-color: lightgray;
}

.row_artistas_artista2 {
    background-color: lightgray;
}

.row_artistas_artista3 {
    background-color: lightgray;
}

.row_artistas_artista4 {
    background-color: lightgray;
}

.row_artistas_artista5 {
    background-color: lightgray;
}

.row_artistas_artista6 {
    background-color: lightgray;
}

.row_artistas_artista7 {
    background-color: lightgray;
}

.row_artistas_artista8 {
    background-color: lightgray;
}

.row_artistas_artista9 {
    background-color: lightgray;
}

.row_artistas_artista10 {
    background-color: lightgray;
}

.row_artistas_artista11 {
    background-color: lightgray;
}

.row_artistas_artista12 {
    background-color: lightgray;
}

.row_artistas_artista13 {
    background-color: lightgray;
}

.row_artistas_artista14 {
    background-color: lightgray;
}

.row_artistas_artista15 {
    background-color: lightgray;
}
