* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerIndex {
    margin-bottom: 3rem;
}

.row_tienda_coleccion {
    background-color: lightgray;
}

.row_tienda_modelo1_texto {
    background-color: lightgray;
}

.row_tienda_modelo1_img {
    background-color: lightgray;
}

.row_tienda_modelo1_tabla {
    background-color: lightgray;
}

.row_tienda_modelo2_texto {
    background-color: lightgray;
}

.row_tienda_modelo2_img {
    background-color: lightgray;
}

.row_tienda_modelo2_tabla {
    background-color: lightgray;
}

.row_tienda_preguntasFrecuentes {
    background-color: lightgray;
}


$textosFormulario: (
    tp: 8px,
);

$tp: map-get($textosFormulario, tp);

.row_tienda_formulario1_data1 {
    padding: $tp;
}

.row_tienda_formulario1_data2 {
    padding: $tp;
}

.row_tienda_formulario1_data3 {
    padding: $tp;
}

.row_tienda_formulario1_data4 {
    padding: $tp;
}

.row_tienda_formulario1_data5 {
    padding: $tp;
}

.row_tienda_formulario1_data6 {
    padding: $tp;
}





/*mediaQuerryMobile*/
@media only screen and (max-width:450px) {

    .headerIndex {
        margin-bottom: 0rem;
    }
}