.row_tienda_coleccion {
    background-color: lightgray;
}

.row_tienda_modelo1_texto {
    background-color: lightgray;
}

.row_tienda_modelo1_img {
    background-color: lightgray;
}

.row_tienda_modelo1_tabla {
    background-color: lightgray;
}

.row_tienda_modelo2_texto {
    background-color: lightgray;
}

.row_tienda_modelo2_img {
    background-color: lightgray;
}

.row_tienda_modelo2_tabla {
    background-color: lightgray;
}

.row_tienda_preguntasFrecuentes {
    background-color: lightgray;
}