* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerIndex {
    margin-bottom: 3rem;
}

.row_index_eventos1_evento1 {
    width: 1000px;
    height: 800px;
}

.row_index_eventos1_evento2 {
    width: 1000px;
    height: 800px;
}

.row_index_eventos1_evento3 {
    width: 1000px;
    height: 800px;
}



/*mediaQuerryMobile*/
@media only screen and (max-width:450px) {

    .headerIndex {
        margin-bottom: 0rem;
    }

    .row_index_eventos1_evento1 {
        width: 1000px;
        height: 300px;
    }

    .row_index_eventos1_evento2 {
        width: 1000px;
        height: 300px;
    }

    .row_index_eventos1_evento3 {
        width: 1000px;
        height: 300px;
    }
}