.headerIndex1{
}

.headerIndex{
    box-shadow: 10px 10px 15px black;
    margin-bottom: 3rem;
}

.navbar {
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.navbar1 {
    list-style: none;
    padding: 20px;
    align-items: center;
}

.nav-item {
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 20px;

}

.navBar1TiendaMenu {
    position: absolute;
    display: none;
}

.nav-item {
    display: block;
}

.nav-item:hover {
    color: black;
    filter: blur(1.2px);
    font-weight: 400;
}

.nav-item1 {
    display: block;
    font-size: 20px;
}

.nav-item1:hover {
    color: black;
    filter: blur(1.2px);
    font-weight: 400;
}

.headerIndexNavBarLogo {
    width: 60px;
}

/*mediaQuerryMobile*/
@media only screen and (max-width:450px) {

    /*headerIndex*/

    .headerIndex {
        box-shadow: 10px 10px 15px black;
        margin-bottom: 0rem;
    }

    .headerIndexNavBarLogo {
        width: 50px;
        position: relative;
        right: 50px;
    }

    .navbar-toggler {
        position: relative;
        left: 45px;
    }

    .navbar1 {
        text-align: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .nav-item1 {
        text-align: center;
        font-size: 20px;
    }
}