.navbar {
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.navbar1{
    list-style: none;
    padding: 20px;
    align-items: center;
}
    .nav-item{
        display: inline-block;
        width: 25%;
        position: relative;
        font-size: 20px;

    }
        .navBar1TiendaMenu{
            position: absolute;
            display: none;
        }
            .nav-item{
                display: block;
            }
                .nav-item:hover{
                    color: black;
                    filter: blur(1.2px);
                    font-weight: 400;
                }