$vista:mobile;
body{
    @if $vista == desktop {
        @media only screen and (min-width: 1024px) {
            h1{font-size: 3rem;}
            h3{font-size: 2rem;}
            p{font-size: 4rem;}
        }
    } @else if $vista == mobile {
        @media only screen and (max-width: 767px){
            h1{font-size: 2rem;}
            h3{font-size: 1rem;}
            p{font-size: 3rem;}
        }
    } @else {
        h1{font-size: 1rem;}
        h3{font-size: 0.5rem;}
        p{font-size: 2rem;}
    }
}